* {
	margin:0;
	padding:0;
}
body {
	margin:0;
	padding:0;
	background:#2c3e50;
	font-family: Sans-serif;
}
#wrap {
	margin: 0 auto 30px;
}
#regbar {
	height: 67px;
	background: #34495e;
}
#navthing {
	margin-left: 50px; 
}
h2 {
	padding: 20px;
	color: #ecf0f1;
}
fieldset {
	border: none;
}
.login {
	position: relative;
	display: 350px;
	/*display:none;*/
}
.arrow-up {
	width:0;
	height:0;
	position: absolute;
	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;
  	border-bottom: 15px solid #ECF0F1;
	left: 10%;
}
.formholder {
	background: #ecf0f1;
	width: 350px;
	border-radius: 5px;
	padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"] {
	padding: 7px 5px;
	margin: 10px 0;
} 
